body {
  font-family: "Roboto", sans-serif;
}

#title_header {
  font-size: 20px;
}

.all_invoice_div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#all_invoice_div_header {
  margin-top: 50px;
}

#all_invoice_div_parent {
  border: 1px solid black;
  border-radius: 4px;
  padding: 15px;
  max-height: 550px;
  overflow-y: scroll;
}

.invoice_row_0 {
  background-color: #ccffee;
}

.logo {
  width: 250px;
}

.header_div {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.header_text {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin-top: auto;
  margin-bottom: auto;
}

.header_bar {
  background-color: #33cccc;
  position: fixed;
  display: block;
  left: 0;
  width: 100%;
  height: 25px;
}

#main_menu_div {
  margin-top: 100px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#new_invoice_button {
  color: white;
  font-size: 15px;
  background-color: #0033cc;
  border-radius: 10px;
  padding: 25px;
  margin-right: 150px;
  box-shadow: 2px 2px 5px black;
}

#new_invoice_button:hover {
  background-color: #0066ff;
}

#new_invoice_button_view_page {
  margin-bottom: 150px;
}

.menu_buttons {
  color: white;
  font-size: 15px;
  background-color: #0033cc;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 2px 2px 5px black;
  width: 150px;
}

#all_invoice_button:hover {
  background-color: #0066ff;
}

#create_invoice_div {
  margin-top: 50px;
}

#create_invoice_text {
  font-size: 30px;
}

#edit_invoice_div {
  margin-top: 75px;
}

.edit_label_text {
  font-size: 20px;
  margin-right: 25px;
}

hr {
  border-top: 2px solid black;
}

footer {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #33cccc;
  text-align: center;
}

.footer_text {
  margin-top: 15px;
}
